
body{
  background-color: #D1CFCC!important;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
div#contentWrapperPrtidas{
  /*visibility: hidden;*/
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.wrapperLoader{
      position: fixed;
    top: 0;
    left: 0;
    background: RGBA(255,255,255,0.8);
    width: 100%;
    height: 100%;
    z-index: 999;
}
.fa-spinner,.loader{
  font-size: 24px;
    position: absolute;
    z-index: 99999999;
    top: 50vh;
    left: 50vw;
}
i.fa.fa-cog.fa-spin {
    z-index: 999;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background: red;
    background-size: 500px;
}
/*******PARTIDAS*****/
div#contentWrapperPrtidas {
    /* margin-left: 150px; */
    /* margin-top: 50px; */
    height: 100%;
    padding-top: 70px;
    position: absolute;
    overflow: scroll;
    top: 0;
    width: 100%;
    padding-left: 150px;
    padding-bottom: 40px;
}
.footer{

    background: #52473A;
    width: 100%;
    min-width: 800px;
    height: 50px;
    /* opacity: 0.8; */
    position: fixed;
    z-index: 5;
    margin-top: 54px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;

}

 div#contentWrapperPrtidas form {
    width: 23%;
    float: left;
    margin: 1%;
}
.contenedorPartida {
    width: 14.5%;
    position: relative;
    /* padding-top: 50%; */
    margin: 1%;
    float: left;
    background: #97928C;
    cursor: pointer;
}
.idCadaPartida {
    position: absolute;
    width: 100%;
    /* text-align: center; */
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: #C6C3BF;
    padding-top: 0%;
}
img.whiteTurn {
    border: 10px solid white;
}
img.blackTurn {
    border: 10px solid black;
}
.contenedorPartida img {
    width: 100%;
    color: black!important;
    opacity: 1;
    padding: 10%;
}
/*********************/
/***TEMPLATE MENU***/
div#topBar {
    background: #52473A;
    width: 100%;
    min-width: 800px;
    height: 50px;
    /* opacity: 0.8; */
    position: absolute;
    z-index: 5;
    top: 0px;
    overflow: hidden;
}
.logedContainer {
    width: 20%;
    /* background: red; */
    height: 100%;
    float: right;
}
.iconName {
    width: 100%;
}
.logedIcon {
    height: 100%;
    float: right;
    /* width: 40%; */
}
.logedIcon img {
    height: 100%!important;
    width: auto!important;
    bottom: 0!important;
}

.logedName {
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    float: right;
}
a:hover {

    text-decoration: none!important;
}
 div#topBar img {
    position: relative;
    height: 100px;
    float: left;
    padding-left: 10px;
    /* border: 1px solid; */
    bottom: 20px;
}
div#sideBar {
    width: 150px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #363029;
    z-index: 4;
    padding-top: 50px;
}
ul#menuItems {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    color: red;
}
li.menuItem {
    padding: 10px;
    font-size: 16px;
    color: #C6C3BF;
    margin-top: 10px;
    background: #736B62;
}
li.menuItem:hover {
    /* background: red; */
    opacity: 0.5;
}
li.menuItem:hover{
  cursor: pointer;
}



/****************/

/***UIDIALOGCOLOR***/


.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.no-close.ui-dialog-buttons.ui-draggable.ui-resizable.ui-draggable-disabled {
    background: #51473B;
    border: none;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    background: #C6C3BF;
    border-radius: 4px;
    border: none;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.no-close.ui-dialog-buttons.ui-draggable.ui-resizable {
    background: #51473B;
}
#introducirNumero {
    text-align: center;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    background: #51473B;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    background: #51473B;
    border: none;
}
.ui-dialog-buttonset button {
    border: none;
    background: #C6C3BF;
    color: white;
    padding: 5px;
    border-radius: 2px;
}

/******************************/
div#tabs-4 {

} 

    canvas{
      margin:-2px;
      padding:0;
    }
.wrapper {
    width: 80%;
    min-width: 800px;
    margin: 0 auto;
}
.ui-dialog-buttonset {
    color: black;
}
.no-close .ui-dialog-titlebar-close {
  display: none;
}
input#idGameBox {
    color: black;
    font-size: 20px;
    background: lightgrey;
    width: 70px;
    border: none;
    border-radius: 2px;
    clear: both;
}
#introducirNumero{
  text-align: center;
}
#introducirNumero >span{
  width: 100%;
  display: block;
}
p.randomNumber {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
    #tumbasBlancas li,#tumbasNegras li{
      width:50px;
      height: 50px;
      background-color: red;
    }
    
     #ajedrez:hover{
      cursor:pointer;
    }
    .ui-draggable:hover{
      cursor: grab;
    }
    .ui-draggable:target{
      cursor: grabbing;
    }
 
    .ui-draggable-disabled:hover{
      cursor: no-drop;
    }


    #dialog{

    }
    #sortable{
      width:800px;
      height: 200px;

    }

    #s1,#s2,#s3,#s4,#s5,#s6,#s7{
      margin:10px;

      padding:15px;
      list-style: none;
      background-color: grey;
      width:15px;
      float:left;
    }
  #ajedrez {
    float: right;
    /* margin: auto; */
    width: 368px;/*+18*/
    height: 368px;
    background-color: pink;
    border: 10px solid #DBB973;
    /*outline: 10px solid #D6AC56;*/
    outline: 10px solid #51473B;
    margin-right: 3vw;
}
    #tablero{
      margin:auto;
      width:350px;
      height:350px;
      background-color: red;
      /*
      border:8px solid #C59530;
     
      outline: 10px solid #9A7425;
      */
      border: 8px solid #C6C3BF;
    outline: 10px solid #736B62;

    }
    #ajedrez .ui-draggable{
      display: block!important;
       width:12.3%!important;
      height: 12.3%!important;
    }
    #tablero .ui-droppable{
      width:12.5%!important;
      height: 12.5%!important;
    }

    #finito,#dialog {
    /* display: flex!important; */
    display: flex;
    align-items: center;
}
#cementerio {
    float: right;
    width: 368px;
    margin-right: 3vw;
    border: 20px solid transparent;
    height: 100px;
    margin-top: 34px;
    background-color: lightgrey;
    outline: 4px solid gray;
}
    #tumbasBlancas,#tumbasNegras{
      
      list-style-type: none;
    }
    #tumbasNegras{

      position: absolute;
      top:282px;
    }
    #a1{
      height: 300px;
    }
    .alfilW{
      background: url(images/bishopW.png);
      
    }
    #ajedrez .ui-draggable{
      background-size: 100% 100%;
    }
    .alfilB{
      background: url(/assets/css/images/bishopB.png);
      
    }
    .reyB{
      background: url(/assets/css/images/kingB.png);

    }
    .reyW{
      background: url(/assets/css/images/kingW.png);

    }
    .caballoW{
      background: url(/assets/css/images/horseW.png)no-repeat center;
      
    }
    .caballoB{
      background: url(/assets/css/images/horseB.png)no-repeat center;
      
    }
    .torreW{
      background: url(/assets/css/images/rookW.png);
      
    }
     .torreB{
      background: url(/assets/css/images/rookB.png);
      
    }

    .reinaB{
      background: url(/assets/css/images/queenB.png);
      
    }
    .reinaW{
      background: url(/assets/css/images/queenW.png);
      
    }
    .peonW{
      background: url(/assets/css/images/pawn.png);

      
    }
    .peonB{
      background: url(/assets/css/images/pawnB.png);
      
    }


    #tabs-1{
      height: 1200px;
      position: relative;
    }
    #h1{
      position: absolute;
      top:94px;
      right: 210px;
    }
    #h2{
      position: absolute;
      top:94px ;
      right:24px ;

    }
     #h3{
      position: absolute;
      top:342px ;
      right:210px ;
    }
     #h4{
      position: absolute;
      top:342px ;
      right:24px ;
    }
    img{
      float:right;
      opacity: 0.3;
 
    }

div#idPartidaInfo {
    float: left;
    padding-left: 18px;
    padding-right: 13px;
    width: 42%;
    color: #51473B;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}
    /*CHATCSS*/

    /* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    width: 80%!important;
    float: left;
}
#chatContainer {
  float: left;
      padding-left: 18px;
    padding-right: 13px;
    width: 42%;
        display: inline-block;
}

div#chatMessages {
    float: left;
    width: 100%;
    overflow-y: scroll;
    height: 70%;
    padding-left: 18px;
    padding-right: 13px;
    background: rgba(255,255,255,0.3);
}
div#chatBoxInserter {
    float: left;
    width: 100%;
    padding: 10px;
    background: #999999;
}
#chatBoxContainer input {
    height: 41px;
    width: 73%;
    border: none;
    padding-left: 14px;
    border-radius: 3px;
}

/*REMOVESCROLLBAR*/
::-webkit-scrollbar {
background: transparent;
  overflow: visible;
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 4px 6px;
  min-width: 40px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 6px 4px;
  min-height: 40px;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:-webkit-scrollbar-thumb {
    background-color: rgba(153, 153, 153,0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10), inset 0 -1px 0 rgba(0,0,0,0.07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}


/*REMOVEEFECTSTEXTAREA*/
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}
/* Darker chat container */
.darker {
    border-color: #aaa;
    background-color: #ddd;
    float: right!important;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

/**********************/


/****LOGIN******/
#loginBack{
 background: url(/assets/css/images/chessBG.png);
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    width:100%;
    height: 100%;
    top:0;
}
#loginContainer {

}
div#loginWrap {
    background: url(/assets/css/images/overlay1.png);
    width: 100%;
    height: 100%;
        position: absolute;
    z-index: -1;
    top:0;
}
#loginPanel {
    padding: 30px 20px;
    width: 550px;
    margin: 90px auto auto auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-weight: 700;
}
#loginLogo {
    margin: 0 auto 20px auto;
    width: 200px;
    height: 200px;
    background: transparent url(/assets/css/images/chess3.jpg) no-repeat center center;
    background-size: 100%;
    border-radius: 10px;
    margin-top: 30px;
}
.loginField {
    text-align: center;
}
.loginField.btn{
  text-align: right;
  width: 100%;
}
input.btn.btn-primary.loginBtn {
    margin-right: 90px;
    width: 100px;
}
.loginField input {
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
}
.loginField label {
    width: 80px;
    color: white;
    font-size: 15px;
}
div#error_text {
    z-index: 99;
    position: absolute;
    color: red;
    top: 0;
    padding-left: 10px;
    font-size: 2em;
    background: white;
    border-radius: 2px;
    outline: 1px solid rosybrown;
}
/******************************/